<h1>Fabricantes</h1>
<% if @manufacturers.length > 0 %>
  <ul>
    <% @manufacturers.each do |m| %>
      <li><%= link_to m.name, manufacturer_path(id: m.id) %></li>
      <!-- <li><%= link_to m.name, manufacturer_path(m.id) %></li> -->
      <!-- <li><%= link_to m.name, m %></li> -->
    <% end %>
  </ul>
<% else %>
  <p>Nenhum fabricante cadastrado</p>
<% end %>

<%= link_to 'Voltar', root_path %>